<data>
    <item variable="mode" value="0"/>
    <item variable="min_open_time" value="1"/>
    <item variable="max_open_time" value="2"/>
    <item variable="min_refresh_time" value="1"/>
    <item variable="max_refresh_time" value="2"/>
    <item variable="bot_api" value="2138222084:AAH2sNkm4VU1gSCIrWpCnAZiAZQIlrfKvIw"/>
    <item variable="channel_id" value="-1001726051975"/>
</data>